# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
lib/

# Dotenv file
.env

# Ignore the build directory
!REPO_erc6900_smart_contracts_lib/
